{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    * {
      font-family: Courier New;
      color: black;
      text-align: center; 
      vertical-align: middle;
      background-color: powderblue;
      font-size: 18px;
    }
    td {
      text-align: left;
    }
    input {
      text-align: left;
      margin: 5px 0;
      padding: 1px 1px;
    }
    h1 {
      margin-top: 50px;
      margin-bottom: 0px;
      font-size: 40px;
      font-weight: bold;
    }
    .btn {
      margin-top: 10px;
    }
    form {
      margin: auto;
      margin-bottom: 12px;
      width: 400px;
      padding: 1em;
      border: 2px solid rgb(87, 73, 73);
      border-radius: 1em;
      table-layout:fixed;
      background-color: powderblue;
    }
    a, a.visited {
      color: rgb(27, 143, 237);
    }
</style>

<div class = "login">

    <h1>Login To Do List</h1>
    <br/>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="username">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="user_username">Username:</label>
            </div>
            <div class="col align-self-center">
                <input type="text" name="username" placeholder="Input username" id="user_username" class="form-control">
            </div>
        </div>
        <div class="password">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="user_password">Password:</label>
            </div>
            <div class="col align-self-center">
                <input type="password" name="password" placeholder="Input password" id="user_password" class="form-control">
            </div>
        </div>
        <input type="submit" name="submit" value="Login" class="btn btn-outline-dark mx-auto d-block">
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    
    Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}