{% extends 'base.html' %}

{% block meta %}
<title>Create New Task</title>
{% endblock meta %}

{% block content %}  

<style>
    * {
      font-family: Courier New;
      color: black;
      text-align: left; 
      vertical-align: text-top;
      background-color: rgb(248, 226, 147);
    }
    h1 {
      margin-top: 50px;
      margin-bottom: 17px;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
    }
    .btn {
      margin-top: 10px;
    }
    form {
      margin: auto;
      width: 400px;
      padding: 1em;
      border: 2px solid rgb(87, 73, 73);
      border-radius: 1em;
      table-layout:fixed;
    }
</style>

<div class = "create_new">
    
    <h1>Create New Task</h1>  

    <form method="POST" >  
        {% csrf_token %}
        <div class="title">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="user_title">Title:</label>
            </div>
            <div class="col align-self-center">
                <input type="text" name="title" placeholder="Input title" id="user_title" class="form-control">
            </div>
        </div>
        <div class="description">
            <div class="col-xl-2 align-self-center">
                <label class="form-lable" for="user_description">Description:</label>
            </div>
            <div class="col align-self-center">
                <input type="text" name="description" placeholder="Input description" id="user_description" class="form-control">
            </div>
        </div>
        <input type="submit" name="submit" value="Create New Task" class="btn btn-outline-dark mx-auto d-block">
    </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}