{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<style>
    * {
      font-family: Courier New;
      color: black;
      text-align: left; 
      vertical-align: text-top;
      background-color: rgb(176, 230, 211);
    }
    h1 {
      margin-top: 20px;
      margin-bottom: 17px;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
    }
    input[type=text], input[type=password] {
      width: 90%;
    }
    form {
      margin: auto;
      width: 600px;
      padding: 1em;
      border: 2px solid rgb(87, 73, 73);
      border-radius: 1em;
      font-size: 15px;
      table-layout:fixed;
    }
</style>

<div class = "login">
    
    <h1>Formulir Registrasi To Do List</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <div class="row">
                <div class="col-lg-3">
                    <label for="user_username">Username:</label>
                </div>
                <div class="col-lg">
                    <div class="row">
                        <input type="text" name="username" placeholder="Input username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="user_username">
                    </div>
                    <div class="row"><span class="helptext" style="color:black">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-3">
                    <label for="user_password1">Password:</label>
                </div>
                <div class="col-lg">
                    <div class="row">
                        <input type="password" name="password1" placeholder="Input password" autocomplete="new-password" required="" id="user_password1">
                    </div>
                    <div class="row">
                        {{form.password1.help_text}}
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-lg-3">
                    <label for="user_password2">Password confirmation:</label>
                </div>
                <div class="col-lg">
                    <div class="row">
                        <input type="password" name="password2" placeholder="Confirm password" autocomplete="new-password" required="" id="user_password2">
                    </div>
                    <div class="row left-buffer">
                        <p style="color:black">{{form.password2.help_text}}</p>
                        <ul>
                        {% for error in form.errors.password2 %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
            <input type="submit" name="submit" value="Register" class="btn btn-outline-dark mx-auto d-block">
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
            <li>{{ message }}</li>  
            {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}